.cursor {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 40%;
    height: 40%;
    background-image: url(https://images.unsplash.com/photo-1745282322383-8ec67cc895b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center center;
    background-size: cover;
}