*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #111;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #f00;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}
